<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleNavMenu"></MatIconButton>
                <MatAppBarTitle>PADELPRISER.SE</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection class="nav-item px-3" Align="@MatAppBarSectionAlign.End">
                        <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                        <NavLink class="text-white nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Data över dagar
                        </NavLink>
                        <NavLink class="text-white nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Fetch data
                        </NavLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

</MatAppBarContainer>



@code {
    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
